@model ProView.Web.Areas.Home.Models.ArithmeticsModel
@{
    ViewBag.Title = "ProView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Ấn vào <a href="/arithmetics">đây</a> để xem bài kiểm tra</h2>